<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae minus sit molestias ipsa. Quas laudantium
  asperiores aspernatur deserunt reiciendis repellendus impedit? Omnis saepe corrupti nihil doloribus harum expedita
  nostrum.
</div>

<div>
  <h2>Nombre: {{person.name}}</h2>
  <h2>Edad: {{person.age}}</h2>
  <br>
  <input type="text" [(ngModel)]="person.name" #txtName="ngModel" required />
  <br>
  <input type="number" [(ngModel)]="person.age" #txtAge="ngModel" required min="0" max="100" />
  <br>
  <h3>Nombre: {{txtName.valid}}</h3>
  <h3>Edad: {{txtAge.valid}}</h3>
</div>
