<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quae minus sit molestias ipsa. Quas laudantium
  asperiores aspernatur deserunt reiciendis repellendus impedit? Omnis saepe corrupti nihil doloribus harum expedita
  nostrum.
</div>

<div>
  <h2 [style.font-style]="txtName.invalid?'italic':'normal'">Nombre: {{person.name}}</h2>
  <h2>Edad: {{person.age}}</h2>
  <br>
  <input type="text" [(ngModel)]="person.name" #txtName="ngModel" required />
  <p class="message-error" [class.invalid]="txtName.invalid">
    El campo es requerido
  </p>
  <br>
  <input type="number" [(ngModel)]="person.age" #txtAge="ngModel" required min="0" max="100" />
  <br>
  <h3>Nombre: {{txtName.valid}}</h3>
  <h3>Edad: {{txtAge.valid}}</h3>
</div>

<h1>Class & Style</h1>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.image" />
  </div>
</div>


<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput.valid,
    'invalid':  nameInput.invalid
  }"
  />
<p class="message-error" [class.invalid]="nameInput.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>


<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
