/* You can add global styles to this file, and also import other style files */
@import url(./assets/css/styles.scss);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&amp;display=swap');

@import '~swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.products--grid {
  display: flex;
  flex-direction: column;

  img {
    border-radius: 10px;
  }
}
